   <web-app>
        <servlet>
            <servlet-name>plot</servlet-name>
            <servlet-class>de.rdnp.chartplot.PlotServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>plot</servlet-name>
            <url-pattern>/chartplot</url-pattern>
        </servlet-mapping>
    </web-app>